$color-for-bg: #ffffff;
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title-page {
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__way {
    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: rgba(20, 16, 41, 0.8);
      cursor: pointer;
    }
  }
  &__name {
  }
}
.title-page-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  &__heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #141029;
  }
  &__button {
    background: linear-gradient(90deg, #0094ff 3.2%, #9b42f5 73.28%);
    border-radius: 10px;
    padding: 13px 24px 13px 24px;
    transition: all 0.2s;
    width: 200px;
    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      transition: all 0.2s;
    }
  }
  &__button:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    span {
      color: #c4bfbf;
    }
  }
}
.card {
  margin-top: 30px;
  hr {
    border: 1px solid #d3d3d3;
    width: 100%;
  }
  &__infrastructure {
    display: flex;
    gap: 30px;
    padding: 30px;
    flex-direction: column;
  }

  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  height: auto;
  min-height: 100px;
  background: $color-for-bg;
  &__images {
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding: 30px 115px 30px 115px;
    flex-wrap: wrap;
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 30px;
  }
}
.card-images-editing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 30px 62px 30px 62px;
  flex-wrap: wrap;
  &__button {
    width: 93px;
    height: 82px;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
  }
  &__button:hover {
    transform: scale(110%);
  }
}
.card-images {
  &__image {
    position: relative;
    transition: all 0.2s;
    border-radius: 10px;
  }
  &__image:hover {
    transform: translateY(-3px);
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__loop {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-width: 46px;
    min-height: 46px;
    // padding: 5px 0px 0px 3px;
    img {
      margin: 0px auto;
    }
  }
}
.card-main {
  &__title {
    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #141029;
    }
  }
  &__list {
  }
}
.card-main-list {
  display: flex;
  flex-direction: column;

  ul {
    hr {
      border: 1px solid #e5e5e5;
      transform: matrix(1, 0, 0.01, -1, 0, 0);
    }
    li {
      padding: 15px 0px 15px 0px;
      transition: all 0.2s;
    }
  }
  &__input {
    min-width: 66px;
    padding: 19px 20px 19px 8px;
    background: #f7f7f9;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #141029;
    width: 100%;
  }
  &__addres {
    width: 77%;
  }

  &__point {
    display: flex;
    gap: 30px;
    align-items: center;
    div {
      position: relative;
    }
    button {
      position: absolute;
      right: 0px;
      top: 1.6rem;
      padding-right: 15px;
      background-color: transparent;
      cursor: pointer;
      align-items: center;
    }
    h4 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #7d7b84;
      width: 230px;
    }
    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: #141029;
    }
  }
}
.card-infrastructure {
  &__title {
    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #141029;
    }
  }
  &__table {
    max-height: 300px;
    overflow-y: auto;
    min-width: 900px;
    table {
      width: 100%;

      th {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: rgba(20, 16, 41, 0.8);
        padding: 0px 15px 15px 15px;
      }
      td {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(20, 16, 41, 0.8);
        padding: 15px;
      }
      td {
        svg {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .card-main-list {
    &__point {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
  }
  .card-infrastructure {
    &__table {
      min-width: 100px;
    }
  }
  .card {
    &__images {
      padding: 30px 80px 30px 80px;
    }
    &__infrastructure {
      padding: 10px;
    }
  }
}
.card-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__table {
    table {
      tr {
        th {
          padding: 0px 22.5px 45px 22.5px;

          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #141029;
        }
        td {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #141029;
          padding: 22.5px;
        }
      }
    }
  }
}
